.footer{
	display: none;
}
.navbar-default{
	position:fixed !important;
	z-index: 9990 !important;
	opacity:0.95;
	width: 100% !important;
} 
@media(max-width:980px){
.hestia-top-bar p{
	font-size: 15px !important;
}
}
@media(max-width:849px){
.hestia-top-bar p{
	font-size: 12px !important;
}
}
@media(max-width:728px){
.hestia-top-bar p{
	display:none;
}
}
.section{
	padding: 0px 0px 0px 0px !important;
	margin-top: 120px 
}
.hestia-top-bar{
	background-color:#AEC643;
}
.has-text-align-left{
	width:1000px;
	margin-left:190px
	
}
.hestia-top-bar p{
	font-size:18px
}
.top-bar-nav{
	display:none
}
.row{
	display:flex;
}
.tellus-number{
	display:flex;
	justify-content:center
}
.tellus-number input{
	height: 72px !important;
	max-width: 750px !important;
	border: 4px solid #3FB0E4 !important;
border-radius: 20px !important;
	text-align: center;
}
.tellus-name{
	display:flex;
	justify-content:center
}
.tellus-name input{
	height: 72px !important;
	max-width: 750px !important;
	border: 4px solid #3FB0E4 !important;
border-radius: 20px !important;
	text-align: center;
}
.tellus-mail{
	display:flex;
	justify-content:center
}

.tellus-mail input{
	height: 72px !important;
	max-width: 750px !important;
	border: 4px solid #AEC643
 !important;
border-radius: 20px !important;
	text-align: center;
}
.tellus-text {
	border: 4px solid #3FB0E4 !important;
border-radius: 20px !important;
}
.leaveus-name{
	display: flex;
  flex-direction: column;
  align-items: center;
}
.leaveus-name input{
	height: 72px !important;
	width: 387px !important;
	border: 4px solid #3FB0E4 !important;
border-radius: 20px !important;
	text-align: center;
}
.leaveus-school{
	display: flex;
  flex-direction: column;
  align-items: center;
}
.leaveus-school input{
	height: 72px !important;
	width: 387px !important;
	border: 4px solid #AEC643 !important;
border-radius: 20px !important;
	text-align: center;
}
.leaveus-tittle{
	display: flex;
  flex-direction: column;
  align-items: center;
}
.leaveus-tittle input{
	height: 72px !important;
	width: 387px !important;
	border: 4px solid #3FB0E4 !important;
border-radius: 20px !important;
	text-align: center;
}
.leaveus-text {
	border: 4px solid #3FB0E4 !important;

border-radius: 20px !important;
}

.leaveus-upload-2{
	display: flex;
  flex-direction: column;
  align-items: center;
}
.forminator-input-file{
border: 4px solid #3FB0E4;
border-radius: 20px !important;
}

.forminator-button-submit{
	
	border: 4px solid !important;
	border-radius: 20px !important;
	max-width: px !important;
}
.forminator-field{
	display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item-600{
	background: #3FB0E4;
	border-radius: 10px;
}
.menu-item-600 a{
	color: white !important;
}

29 plugins Actualizados
10 plugins borrados
4 temas borrados
1 tema actualizado
----------
Respaldo de la web +900MB
2 imagenes actualizadas por baja resolución
1 Formulario de contacto arreglado
Pagina About Us Arreglada
Mauro123.